<!DOCTYPE html>
<html lan="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %} - FlaskApp</title>
	<style>
		nav a {
			color: #00204a;
			font-size: 3em;
			margin-left: 50px;
			text-decoration: none;
			background: #fdb44b;
		}
	</style>
</head>
<body>
	<nav>
		<a href="{{ url_for('hello') }}">FlaskApp</a>
		<a href="{{ url_for('about')}}">About></a>
		<a href="{{ url_for('comments')}}">Comments</a>
	</nav>
	<hr>
	<div class="content">
		{% block content %} {% endblock %}
	</div>
</body>
</html>
